.gradle
._log
/build/
!gradle/wrapper/gradle-wrapper.jar
count.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/.DS_Store
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/resources/application.properties
/src/main/resources/logback.xml
/log/

.DS_Store
*/.DS_Store
